* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}



body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background 2s ease; 
    
    
}

.weatherForm {
    margin: 20px;
}

.cityInput {
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    border: 2px solid hsla(0, 0%, 50%, 0.3);
    border-radius: 10px;
    margin: 10px;
    width: 300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button[type="submit"] {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: rgb(98, 214, 98);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: cornflowerblue;
}

.card {
    background: linear-gradient(rgb(51, 70, 245), #6084e9, #99d3fa);
    padding: 30px;
    box-shadow: 2px 2px 5px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.card.show {
    opacity: 1;
    transform: translateY(0);
}

h1 {
    font-size: 2.5rem;
    margin: 0 0 15px 0;
}

p {
    font-size: 1.2rem;
    margin: 5px 0;
}

.cityDisplay, .tempDisplay {
    font-size: 2.5rem;
    font-weight: bold;
    color: hsl(0, 0%, 15%);
    margin-bottom: 15px;
}

.humidityDisplay {
    font-weight: italic;
    margin-bottom: 15px;
}

.descDisplay {
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
}

.weatherEmoji {
    margin: 0;
    font-size: 5rem;
}

.errorDisplay {
    font-size: 1.8rem;
    font-weight: bold;
    color: black;
    text-align: center;
}

.morning {
    background: linear-gradient( #FFDB70, #87CEEB); /* Soft yellow to light blue */
}

.noon {
    background: linear-gradient( #87CEEB, #4682B4); /* Bright blue shades */
}

.evening {
    background: linear-gradient(#1E90FF, #FF4500 ); /* Orange to dark blue */
}

.night {
    background: linear-gradient(#000033, #000000); /* Dark blue to black */
}
